In [31]:
myList = [1, 2, 3, 4, 5, 6]
myList

[1, 2, 3, 4, 5, 6]

In [32]:
myList = list(range(100))

In [33]:
myList[::5]

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [34]:
myList[::-1]

[99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1,
 0]

In [35]:
myList[::-10]

[99, 89, 79, 69, 59, 49, 39, 29, 19, 9]

In [36]:
myList = [1, 2, 3, 4]
myList.append(5)
myList.insert(3, 'a new value')
myList

[1, 2, 3, 'a new value', 4, 5]

In [37]:
myList.remove('a new value')
myList

[1, 2, 3, 4, 5]

In [39]:
myList.pop()
myList

[1, 2, 3]

In [40]:
b = myList.copy()
b

[1, 2, 3]