# Sets

In [3]:
mySet = {1, 2, 3}
mySet

{1, 2, 3}

In [4]:
mySet = set({1, 2, 3})
mySet

{1, 2, 3}

In [6]:
mySet = {1, 1, 2, 2, 3, 3, 4, 4}
myList = list(mySet)
myList

[1, 2, 3, 4]

In [7]:
# mySet[0] Cannot do this
mySet.add(5)
mySet

{1, 2, 3, 4, 5}

In [8]:
mySet.discard(3)
mySet

{1, 2, 4, 5}

In [9]:
while len(mySet):
    print(mySet.pop())
print(mySet)

1
2
4
5
set()

# Tuples

In [10]:
myTuple = (1, 2, 3)
# myTuple = 1, 2, 3 We can also declare it like this
myTuple

(1, 2, 3)

In [11]:
def returnMultipleValues():
    return 1, 2, 3
type(returnMultipleValues())

tuple